*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
.heading {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 25px;
}

#menu ul {
   text-align: center;
   margin-top: 45px;
}